header {
  border-bottom: solid 1px #404040;
  margin: 0 1em;
  padding-bottom: 1em;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;

    .login {
      text-decoration: none;
      color: white;

    }
  }

}