
// colors
$color-light-grey: #e5e7eb;            // text
$color-dark-blue-background: #0f1625;             // background
$color-dark-blue: #111827;             // background card
$color-medium-blue: #2563eb;           // text + button
$color-medium-grey-left: #2e333c;      // border text nike (left)
$color-medium-grey-bottom: #242934;    // border text nike (bottom)

// pour le linear du bouton : #1e3b8c  et #3a7ff2